<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>Open wall</name>
    <key>openwall</key>
    <description>Route to PA's Open wall</description>
    <author>ISISLab</author>
    <authorEmail>isislab@routetopa.eu</authorEmail>
    <authorUrl>http://www.isislab.it/</authorUrl>
    <developerKey>2b810a795fa9b5b5d138ac0652de1a7e</developerKey>
    <build>1</build>
    <copyright>aaa</copyright>
    <license>aaa</license>
    <licenseUrl>aaa</licenseUrl>
</plugin>