<style>
    .cols {
        width: 100%;
    }
    .cols .col {
        float: left;
    }
    .cols-50-50 .col {
        width: 45%;
        margin-right: 5%;
    }
    .cols .col:last-child {
        margin-right: 5%;
    }
    .openid_login th {
        background-color: transparent;
        text-align: left;
    }
    .openid_login .form_commands {
        padding-top: 1em;
    }
    .openid_login .password_reset {
        display: inline-block;
        margin-left: 1em;
    }
</style>

<div class="cols cols-50-50 clearfix">
    <div class="col">

        <p style="line-height: 1.4em">
        {text key='openwall+front_description'}
        </p>

    </div>
    <div class="col">

        <h4>{text key='openidconnect+login'}</h4>

        <form method="post" action="{$url_openid_login}" class="openid_login">
            <input type="hidden" name="redirect_success" value="{$url_redirect_success}">
            <input type="hidden" name="redirect_failure" value="{$url_redirect_failure}">
            <table>
                <tr>
                    <th><label for="openid_url">E-mail:</label></th>
                    <td><input type="text" name="openid_url" value="" id="openid_url" /></td>
                </tr>
                <tr>
                    <th><label for="openid_pass">Password:</label></th>
                    <td><input type="password" name="openid_pass" value="" id="openid_pass" /></td>
                </tr>
                <tr>
                    <td colspan="2" class="form_commands">
                        <p>
                        <span class="ow_button">
                            <span class="ow_positive">
                                <input type="submit" value="Sign in" class="ow_positive" />
                            </span>
                        </span>
                        </p>
                        <p><a class="" href="{$url_password_reset}">I forgot my password</a>
                            &nbsp;&nbsp;&bull;&nbsp;&nbsp;
                        <a class="" href="{$url_openid_signup}">New user? Register here</a></p>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>