<div style="margin-bottom: 1.5em;">
    {text key='openwall+front_description'}
</div>

<hr>

<link rel="import" href="http://deep.routetopa.eu/COMPONENTS/datalets/datasetexplorer-datalet/datasetexplorer-datalet.html" />
<h3>{text key='openwall+explore_datasets_heading'}</h3>
<div class="clearfix" style="padding-bottom: 1.2em;">
    <img style="float: left; width: 100px;" src="/ow_static/plugins/openwall/images/explore.png">
    <div style="margin-left: 120px; font-size: 120%; line-height: 1.4em; font-weight: 300; text-align: justify;">
        {text key='openwall+explore_datasets_instructions'}
    </div>
</div>

<datasetexplorer-datalet
        data-url="/openwall/api/datasetTree"
        fields='["result,datasets,provider_name","result,datasets,organization_name","result,datasets,package_name","result,datasets,resource_name","result,datasets,url","result,datasets,w"]'

        ></datasetexplorer-datalet>

