<style>
    div.split {
        display: flex;
        width: 100%;
        margin-top: 1.5em;
    }

    div.activities {
        width: 50%;
    }

    div.activities p {
        margin-bottom: 16px;
    }

    div.activities b {
        color:#2196F3;
    }

    div.datalet {
        width: 50%;
        height: 100%;
        overflow: hidden;
        /*color: #FFFFFF;*/
    }

    div.explorer {
        border-top: 2px solid #2196F3;
        margin: 16px 0px 16px 0px;
        padding-top: 16px;
    }

    div.explorer img {
        float: left;
        width: 100px;
    }

    div.datasets_instructions {
        margin-left: 116px;
        height: 94px;
    }

    div.datasets_instructions h4 {
        padding-top: 16px;
    }

    h4 {
        margin: 0px 0px 16px 0px;
    }

    div.explorer ul{
        list-style-type: square;
        padding-left: 32px;
    }
</style>


{text key='openwall+front_description'}


<div class="split">
    <div class="activities">
        <h4>{text key='openwall+activities'}</h4>

        <p>
            {text key='openwall+users_online'}
            <b>{count($usersIds)}</b>.
        </p>

        {if !empty($latestPublicRooms)}
        <p>
            {text key='openwall+last_room'}
            <a href="public-room/#!/{$latestPublicRooms.0->id}">{$latestPublicRooms.0->subject}</a>.
        </p>
        {/if}

        <h4>{text key='openwall+meet_datalet'}</h4>

        <p>
            {text key='openwall+datalet_description'}
        </p>
    </div>
    <div class="datalet">

        {if !empty($latestDatalet)}
                <link rel="import" href="{$components_url}datalets/{$latestDatalet['component']}/{$latestDatalet['component']}.html" />
                <{$latestDatalet['component']}
                data-url="{$latestDatalet['params']['data-url']}"
                {if !empty($latestDatalet['params']['url'])} url="{$latestDatalet['params']['url']}" {/if}
                title="{$latestDatalet['params']['title']}"
                description="{$latestDatalet['params']['description']}"
                fields='[{$latestDatalet['fields']}]'>
                </{$latestDatalet['component']}>
        {/if}

    </div>
</div>

<div class="explorer">

    <img src="ow_static/plugins/openwall/images/explore.png">
    <div class="datasets_instructions">
        <h4>{text key='openwall+explore_datasets_heading'}</h4>
    </div>

    {text key='openwall+explore_datasets_instructions'}
    <ul>
        <li><a href="http://srvgal100.deri.ie:8081/" target="_blank">TET v.0.1 @ Galway (Ireland)</a></li>
        <li><a href="http://ckan.routetopa.eu/" target="_blank">Example CKAN with data from out pilots (Prato, Groiningen, Den Haag)</a></li>
        <li><a href="https://data.gov.uk/" target="_blank">data.gov.uk (UK)</a></li>
        <li><a href="http://data.issy.com/page/home/" target="_blank">data.issy.com (from OpenDataSoft, France)</a></li>
        <li><a href="https://data.overheid.nl/" target="_blank">Dataportaal van de Nederlandse overheid (Netherland)</a></li>
        <li><a href="https://dati.lazio.it/" target="_blank">Open data Regione Lazio (Italy)</a></li>
        <li><a href="https://data.gov.ie/" target="_blank">Ireland's Open Data Portal (Ireland)</a></li>
        <li><a href="http://www.iledefrance.fr/" target="_blank">French Open Data Portal (France)</a></li>
    </ul>
</div>

<link rel="import" href="{$components_url}datalets/datasetexplorer-datalet/datasetexplorer-datalet.html" />
<datasetexplorer-datalet
        data-url="openwall/api/datasetTree"
        fields='["result,datasets,provider_name", "result,datasets,organization_name",
                    "result,datasets,package_name", "result,datasets,resource_name", "result,datasets,url", "result,datasets,w"]'>
</datasetexplorer-datalet>

<script>
    $(function () {
        $(window).resize();
    });
</script>
